doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    title Mobaking: There's only one King
    link(rel='stylesheet', href='css/flexslider.css', type='text/css', media='screen')
    link(rel='stylesheet', type='text/css', href='/css/style.css', media='screen')
    link(rel='stylesheet', href='css/prettyPhoto.css', type='text/css', media='screen')
    link(rel='stylesheet', href='css/supersized.css', type='text/css', media='screen')
    //if lt IE 9
      link(rel='stylesheet', href='css/ie.css', type='text/css', media='screen')
    // MOBILE SETTINGS
    link(rel='stylesheet', href='css/responsive.css', type='text/css', media='screen')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    //if lt IE 9
      script(src='js/css3-mediaqueries.js')
    //if lte IE 9
      link(rel='stylesheet', href='css/ie8.css', type='text/css', media='screen')
    //if IE 7
      link(rel='stylesheet', href='css/ie7.css', type='text/css', media='screen')
    // RSS FEED
    link#mediaelementjs-styles-css(rel='stylesheet', href='css/mediaelementplayer.min.css', type='text/css', media='all')
    script(type='text/javascript', src='js/comment-reply.min.html')
    script(type='text/javascript', src='js/jquery.js')
    script(type='text/javascript', src='js/jquery-migrate.min.html')
    script(type='text/javascript', src='js/jquery.easing.1.3.js')
    script(type='text/javascript', src='js/jquery.tools.min.js')
    script(type='text/javascript', src='js/jquery.flexslider-min.js')
    script(type='text/javascript', src='js/jquery.prettyPhoto.js')
    script(type='text/javascript', src='js/jquery.isotope.min.js')
    script(type='text/javascript', src='js/selectnav.min.js')
    script(type='text/javascript', src='js/mejs/mediaelement-and-player.min.js')
    script(type='text/javascript', src='js/supersized.3.2.7.min.js')
    script(type='text/javascript', src='js/audio.js')
    script(type='text/javascript', src='js/custom.js')
    script(type='text/javascript', src='js/init.js')
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:700,400,300', rel='stylesheet', type='text/css')
    // custom styles
    link(rel='stylesheet', type='text/css', href='/css/custom.css', media='screen')
  body
    // [/social-bookmarks]
    // [/Responsive social-bookmarks]
    #wrap-wide
    // [/wrap-wide]
    #menu-wrap
      #menu
        a#logo(title='Mobaking: There\'s only one King', href='/')
          img(src='images/mobaking_logo.png', height='122', width='215', alt='Logo')
        // [/logo]
        #nav.jqueryslidemenu
        .menu-main-container
        span#menu-toggle menu toggle
    // [/menu]
    script(type='text/javascript').
      jQuery(document).ready(function () {
      jQuery.supersized({
      // Functionality
      slide_interval          :   10000,    // Length between transitions
      transition              :   1,      // 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
      transition_speed    : 1000,
      keyboard_nav            :   1,
      // Speed of transition
      // Components
      slide_links       : 'blank',  // Individual links for each slide (Options: false, 'num', 'name', 'blank')
      slides          :   [     // Slideshow Images
      {image : 'images/backgrounds/about/1.jpg',  thumb : 'images/backgrounds/about/1.jpg', url : ''} ,
      {image : 'images/backgrounds/about/2.jpg',  thumb : 'images/backgrounds/about/2.jpg', url : ''} ,
      {image : 'images/backgrounds/about/3.jpg',  thumb : 'images/backgrounds/about/3.jpg', url : ''} ,
      {image : 'images/backgrounds/about/4.jpg', thumb : 'images/backgrounds/about/4.jpg', url : ''} ,
      {image : 'images/backgrounds/about/5.jpg', thumb : 'images/backgrounds/about/5.jpg', url : ''}]
      });
      }
      );
    #wrap.clearfix.no-sidebar
      #main
        #entries
          h2.page-title
            | About / Team 
            span#entries-toggle Toggle
            #breadcrumb
              p.breadcrumb
                span.breadcrumb_info
                a(href='/') Home
                span.arrow  » 
                span.current_crumb About / Team 
            // [/breadcrumb]
          #entries-box
            .post-item
              .entry
                .one_third
                  h2.special-heading Our Philosophy
                  p
                    strong
                      | Our work is driven by a belief that software should be free and accessible to all.
                  p
                    | Mobaking software is free. Always was, always will be. Free software gives everyone the freedom to use it however they want and share with whoever they like. This freedom has huge benefits. At one end of the spectrum it enables the Mobaking community to grow and share its collective experience and expertise to continually improve all things Mobaking. At the other, we are able to give access to essential software for those who couldn’t otherwise afford it – an advantage that’s keenly felt by individuals and organisations all over the world.
                // [/one_third]
                .one_third
                  h2.special-heading Our Mision
                  p
                    strong
                      | To achieve recognized excellence in research and education in the interdisciplinary field of data science. 
                  p
                    | The goal of our project is to give the gamers community a mordern and useful tool to identify the trends in the MOBA (Multiplayer Online Battlearena) field. On the other hand, this tool is also benefitial to the games industry, where it can play the role of a guide in order to improve an existant game or just study and identify the key aspects to create a successful one.
                // [/one_third]
                .one_third.last
                  h2.special-heading Our Skills
                  p.p-sc
                    | Graphic Design 
                    strong 
                  .progress.round(style='width: 100%')
                    span.meter.s-green(style='width: 80%;') 80%
                  p.p-sc
                    | Front-End Development
                    strong  
                  .progress.round(style='width: 100%')
                    span.meter.s-purple(style='width: 90%;') 90%
                  p.p-sc
                    | Back-End Development 
                    strong 
                  .progress.round(style='width: 100%')
                    span.meter.s-blue(style='width: 90%;') 90%
                  p.p-sc
                    | JavaScript 
                    strong 
                  .progress.round(style='width: 100%')
                    span.meter.s-red(style='width: 85%;') 85%
                  p.p-sc
                    | Machine Learning 
                    strong 
                  .progress.round(style='width: 100%')
                    span.meter.s-pink(style='width: 60%;') 60%
                // [/one_third_last]
                .fix
                .divider
                h2.special-heading Meet The Team
                .one_third
                  .image-sc
                    img(alt='', src='images/people/sawan.jpg')
                  .line-sc
                  h3
                    strong Sawan J. Kapai Harpalani
                  h6 Group coordinator & leader
                  p
                    | Computer scientist with high passion in programming. Expert in JAVA, C++ and high knowledge in  HTML5, CSS, JavaScript.
                    br
                    .social-bookmarks
                      ul
                        li.google
                          a(href='https://github.com/alu0100694765', target='_blank') github
                        li.facebook
                          a(href='https://www.facebook.com/sawan.kapai', target='_blank') facebook
                        li.email-social
                          a(href='mailto:sjkh1g15@soton.ac.uk') email-social
                    // [/social-bookmarks]
                // [/one_third]
                .one_third
                  .image-sc
                    img(alt='', src='images/people/yxu.jpg')
                  .line-sc
                  h3
                    strong Yingdan Xu
                  h6 All-rounder
                  p
                    | Software engineer with high knowledge in  HTML5 and JavaScript. 
                    br
                    br
                    .social-bookmarks
                      ul
                        li.google
                          a(href='https://github.com/YingdanXu', target='_blank') github
                        li.facebook
                          a(href=' https://www.facebook.com/profile.php?id=100010308041380', target='_blank') facebook
                        li.email-social
                          a(href='mailto:yx2g15@soton.ac.uk') email-social
                    // [/social-bookmarks]
                // [/one_third]
                .one_third.last
                  .image-sc
                    img(alt='', src='images/people/peng.jpg')
                  .line-sc
                  h3
                    strong Peng Gou
                  h6 All-rounder
                  p
                    | Computer scientist with high skills in JAVA, PHP, JavaScript.
                    br
                    br
                    .social-bookmarks
                      ul
                        li.google
                          a(href='https://github.com/pengbill', target='_blank') github
                        li.facebook
                          a(href='https://m.facebook.com/peng.gou.58', target='_blank') facebook
                        li.email-social
                          a(href='mailto:pg1a14@soton.ac.uk') email-social
                    // [/social-bookmarks]
                // [/one_third last]
                .one_third
                  .image-sc
                    img(alt='', src='images/people/swu.jpeg')
                  .line-sc
                  h3
                    strong Shanchuan Wu
                  h6 All-rounder
                  p
                    | Computer scientist with experience in C, HTML, CSS. These days learning Bootstrap and JavaScript.
                    br
                    .social-bookmarks
                      ul
                        li.google
                          a(href='https://github.com/358203708', target='_blank') github
                        li.facebook
                          a(href='https://www.facebook.com/shanchuanwu', target='_blank') facebook
                        li.email-social
                          a(href='mailto:sw9n14@soton.ac.uk') email-social
                    // [/social-bookmarks]
                // [/one_third]
                .one_third
                  .image-sc
                    img(alt='', src='images/people/jim.jpg')
                  .line-sc
                  h3
                    strong Xu Zhang
                  h6 All-rounder
                  p
                    | Background in mathematics with skills in HTML and C.
                    br
                    br
                    .social-bookmarks
                      ul
                        li.google
                          a(href='https://github.com/icedogoneone', target='_blank') github
                        li.facebook
                          a(href='https://www.facebook.com/profile.php?id=100003748262350', target='_blank') facebook
                        li.email-social
                          a(href='mailto:xz9a14@soton.ac.uk') email-social
                    // [/social-bookmarks]
                // [/one_third]
                .one_third.last
                  .image-sc
                    img(alt='', src='images/people/xhan.jpg')
                  .line-sc
                  h3
                    strong Xu Han
                  h6 All-rounder
                  p
                    | Background in mathematics with knowledge in HTML, C and JavaScript.
                    br
                    br  
                    .social-bookmarks
                      ul
                        li.google
                          a(href='https://github.com/HXlol', target='_blank') github
                        li.facebook
                          a(href='https://www.facebook.com/profile.php?id=100008144478693', target='_blank') facebook
                        li.email-social
                          a(href='mailto:xh1g15@soton.ac.uk') email-social
                    // [/social-bookmarks]
                // [/one_third last]                
                .fix
                .fix
          // [/entries-box]
        // [/entries]
      // [/main]
    // [/wrap]
    a#scrollup(href='#') Scroll
    // [/scrollup]
    #progress-back.load-item
      #progress-bar
    // [/Time Bar]
    #controls-wrap.load-item
      a#nextslide.load-item
      a#play-button
        img#pauseplay(data-retina='true', alt='', src='images/slider/pause.png')
      a#prevslide.load-item
      p.copyright Powered by HighThemes. All rights reserved.
      a#shutdown(href='#') ShutDown
    // [/Control Bar]
    #audio-wrap  
    script(type='text/javascript', src='../../../apis.google.com/js/plusone.js')
    script(type='text/javascript').
      function plusone_vote( obj ) {
      _gaq.push(['_trackEvent','plusone',obj.state]);
      }
