doctype html
html
  head
    meta(charset='UTF-8')
    title Mobaking
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/thumbnail-gallery')
  body
    // Page Content
    .container
      .row
        .col-lg-12
          h1.page-header Thumbnail Gallery
        .col-lg-3.col-md-4.col-xs-6.thumb
          a(href='#')
            img.img-responsive(src='/img/games/lol.png', alt='League of Legends')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a(href='#')
            img.img-responsive(src='/img/games/Dota_2.png', alt='Dota 2')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a(href='#')
            img.img-responsive(src='/img/games/airmech.png', alt='Airmech')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a(href='#')
            img.img-responsive(src='/img/games/hos.png', alt='Heroes of the Storm')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a(href='#')
            img.img-responsive(src='/img/games/ic.png', alt='Infinite Crisis')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a(href='#')
            img.img-responsive(src='/img/games/smite.png', alt='Smite')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a(href='#')
            img.img-responsive(src='/img/games/overwatch.png', alt='Overwatch')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a(href='#')
            img.img-responsive(src='/img/games/strife.png', alt='Strife')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a(href='#')
            img.img-responsive(src='/img/games/hon.png', alt='Heroes of Newerth')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a(href='#')
            img.img-responsive(src='/img/games/mww.png', alt='Magicka Wizards Wars')