doctype html
html
  head
    meta(charset='UTF-8')
    title Mobaking
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/thumbnail-gallery')
  body
    // Page Content
    .container
      .row
        .col-lg-12
          h1.page-header Thumbnail Gallery
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.thumbnail(href='#')
            img.img-responsive(src='/img/games/lol.png', alt='')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.thumbnail(href='#')
            img.img-responsive(src='/img/games/Dota_2.png', alt='')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.thumbnail(href='#')
            img.img-responsive(src='/img/games/airmech.png', alt='')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.thumbnail(href='#')
            img.img-responsive(src='/img/games/hos.png', alt='')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.thumbnail(href='#')
            img.img-responsive(src='/img/games/ic.png', alt='')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.thumbnail(href='#')
            img.img-responsive(src='/img/games/smite.png', alt='')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.thumbnail(href='#')
            img.img-responsive(src='/img/games/overwatch.png', alt='')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.thumbnail(href='#')
            img.img-responsive(src='/img/games/strife.png', alt='')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.thumbnail(href='#')
            img.img-responsive(src='/img/games/hon.png', alt='')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.thumbnail(href='#')
            img.img-responsive(src='/img/games/mww.png', alt='')