doctype html
html
  head
    meta(charset='UTF-8')
    title Mobaking
    link(rel='stylesheet', href='/css/index.css')
  body
    .container-fluid
      .row
        // column
        .col-xs-6.col-sm-5cols
          .thumbnail
            img(src='http://placehold.it/500x500')
        // column
        .col-xs-6.col-sm-5cols
          .thumbnail
            img(src='http://placehold.it/500x500')
        // column
        .col-xs-6.col-sm-5cols
          .thumbnail
            img(src='http://placehold.it/500x500')
        // column
        .col-xs-6.col-sm-5cols
          .thumbnail
            img(src='http://placehold.it/500x500')
        // column
        .col-xs-6.col-sm-5cols
          .thumbnail
            img(src='http://placehold.it/500x500')
        // column
        .col-xs-6.col-sm-5cols
          .thumbnail
            img(src='http://placehold.it/500x500')
        // column
        .col-xs-6.col-sm-5cols
          .thumbnail
            img(src='http://placehold.it/500x500')
        // column
        .col-xs-6.col-sm-5cols
          .thumbnail
            img(src='http://placehold.it/500x500')
        // column
        .col-xs-6.col-sm-5cols
          .thumbnail
            img(src='http://placehold.it/500x500')
        // column
        .col-xs-6.col-sm-5cols
          .thumbnail
            img(src='http://placehold.it/500x500')

