doctype html
html
  head
    meta(charset='UTF-8')
    title Mobaking
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/thumbnail-gallery')
    link(rel='stylesheet', href='/css/hover.css')
    link(rel='stylesheet', href='/css/hover.min.css')
  body
    // Page Content
    .container
      .row
        #logo_div(style='text-align: center')
          img.img-responsive(id='logo', src='/images/mobaking_logo.png')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.hvr-float-shadow(href='#')
            img.img-responsive(src='/images/games/lol.png', alt='League of Legends')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.hvr-float-shadow(href='#')
            img.img-responsive(src='/images/games/Dota_2.png', alt='Dota 2')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.hvr-float-shadow(href='#')
            img.img-responsive(src='/images/games/airmech.png', alt='Airmech')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.hvr-float-shadow(href='#')
            img.img-responsive(src='/images/games/hos.png', alt='Heroes of the Storm')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.hvr-float-shadow(href='#')
            img.img-responsive(src='/images/games/ic.png', alt='Infinite Crisis')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.hvr-float-shadow(href='#')
            img.img-responsive(src='/images/games/smite.png', alt='Smite')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.hvr-float-shadow(href='#')
            img.img-responsive(src='/images/games/overwatch.png', alt='Overwatch')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.hvr-float-shadow(href='#')
            img.img-responsive(src='/images/games/strife.png', alt='Strife')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.hvr-float-shadow(href='#')
            img.img-responsive(src='/images/games/hon.png', alt='Heroes of Newerth')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.hvr-float-shadow(href='#')
            img.img-responsive(src='/images/games/mww.png', alt='Magicka Wizards Wars')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.hvr-float-shadow(href='#')
            img.img-responsive(src='/images/games/world.png', alt='World Stats')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.hvr-float-shadow(href='#')
            img.img-responsive(src='/images/games/about_us.png', alt='About Us')                        