doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Mobaking: There's only one King
    link(rel='stylesheet', href='css/flexslider.css', type='text/css', media='screen')
    link(rel='stylesheet', type='text/css', href='/css/style.css', media='screen')
    link(rel='stylesheet', href='css/prettyPhoto.css', type='text/css', media='screen')
    link(rel='stylesheet', href='css/supersized.css', type='text/css', media='screen')
    //
      if lt IE 9link(rel='stylesheet', href='css/ie.css', type='text/css', media='screen')
    // MOBILE SETTINGS
    link(rel='stylesheet', href='css/responsive.css', type='text/css', media='screen')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    //
      if lt IE 9script(src='js/css3-mediaqueries.js')
    //
      if lte IE 9link(rel='stylesheet', href='css/ie8.css', type='text/css', media='screen')
    //
      if IE 7link(rel='stylesheet', href='css/ie7.css', type='text/css', media='screen')
    link#mediaelementjs-styles-css(rel='stylesheet', href='css/mediaelementplayer.min.css', type='text/css', media='all')
    script(type='text/javascript', src='js/comment-reply.min.html')
    script(type='text/javascript', src='js/jquery.js')
    script(type='text/javascript', src='js/jquery-migrate.min.html')
    script(type='text/javascript', src='js/jquery.easing.1.3.js')
    script(type='text/javascript', src='js/jquery.tools.min.js')
    script(type='text/javascript', src='js/jquery.flexslider-min.js')
    script(type='text/javascript', src='js/jquery.prettyPhoto.js')
    script(type='text/javascript', src='js/jquery.isotope.min.js')
    script(type='text/javascript', src='js/selectnav.min.js')
    script(type='text/javascript', src='js/mejs/mediaelement-and-player.min.js')
    script(type='text/javascript', src='js/supersized.3.2.7.min.js')
    script(type='text/javascript', src='js/audio.js')
    script(type='text/javascript', src='js/custom.js')
    script(type='text/javascript', src='js/init.js')
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:700,400,300', rel='stylesheet', type='text/css')
    // custom styles
    link(rel='stylesheet', type='text/css', href='/css/custom.css', media='screen')
  body.home
    #wrap-wide
    // [/wrap-wide]
    #menu-wrap
      #menu
        a#logo(title='Mobaking: There\'s only one King', href='/')
          img(src='images/mobaking_logo.png', height='122', width='215', alt='Logo')
        // [/logo]
        #nav.jqueryslidemenu
          ul#menu-main.menu
            li
              a(href='/world/ranking')
                | Ranking
                span Check who is at the top!
            li
              a(href='/world/stats')
                | World Stats
                span Study the evolution of the popularity.
            li
              a(href='/world/compare')
                | Compare games
                span Check who is better.
        .menu-main-container
          ul#main-menu.menu
            li
              a(href='/world/ranking')
                | Ranking
                span Check who is at the top!
            li
              a(href='/world/stats')
                | World Stats
                span Study the evolution of the popularity.
            li
              a(href='/world/compare')
                | Compare games
                span Check who is better.
        span#menu-toggle menu toggle
    // [/menu]
    script(type='text/javascript').
      jQuery(document).ready(function () {
      jQuery.supersized({
      // Functionality
      slide_interval          :   10000,    // Length between transitions
      transition              :   1,      // 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
      transition_speed    : 1000,
      keyboard_nav            :   1,
      // Speed of transition
      // Components
      slide_links       : 'blank',  // Individual links for each slide (Options: false, 'num', 'name', 'blank')
      slides          :   [     // Slideshow Images
      {image : 'images/backgrounds/world/1.jpg',  thumb : 'images/backgrounds/world/1.jpg', url : ''} ,
      {image : 'images/backgrounds/world/2.jpg',  thumb : 'images/backgrounds/world/2.jpg', url : ''} ,
      {image : 'images/backgrounds/world/3.jpg',  thumb : 'images/backgrounds/world/3.jpg', url : ''} ,
      {image : 'images/backgrounds/world/4.jpg', thumb : 'images/backgrounds/world/4.jpg', url : ''} ,
      {image : 'images/backgrounds/world/5.jpg', thumb : 'images/backgrounds/world/5.jpg', url : ''}]
      });
      }
      );
    a#scrollup(href='#') Scroll
    // [/scrollup]
    #progress-back.load-item
      #progress-bar
    // [/Time Bar]
    #thumb-tray.load-item
      #thumb-back
      #thumb-forward
    // Slide captions displayed here
    #slidecaption
    #controls-wrap.load-item
      a#nextslide.load-item
      a#play-button
        img#pauseplay(data-retina='true', alt='', src='images/slider/pause.png')
      a#prevslide.load-item
      p.copyright Powered by Mobaking team. All rights reserved.
      a#tray-button
        img#tray-arrow(data-retina='true', src='images/slider/button-tray-up.png')
      a#shutdown(href='#') ShutDown
